[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
python-dotenv = "*"
physrisk-lib = "==0.30.0"
fastapi-jwt-auth = "*"

[dev-packages]
pdm = "*"
pytest = "*"
tox = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.8"